## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import json
import numpy as np

# Import API key
from config import gkey

# Configure gmaps API key
gmaps.configure(api_key=gkey)

In [2]:
# 1. Import the WeatherPy_database.csv file. CHANGE ONCE IMPORT WORKS.
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Rocha,UY,-34.48,-54.33,51.26,92,30,7.61,scattered clouds
1,1,Comarapa,BO,-17.90,-64.48,64.27,60,99,0.76,overcast clouds
2,2,Tongliao,CN,43.61,122.27,53.11,36,0,10.65,clear sky
3,3,Bandarbeyla,SO,9.49,50.81,76.91,78,5,1.30,clear sky
4,4,Chokurdakh,RU,70.63,147.92,21.74,93,94,6.02,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

In [5]:
# 4a. Determine if there are any empty rows.
clean_df.count()

City_ID        295
City           295
Country        295
Lat            295
Lng            295
Max Temp       295
Humidity       295
Cloudiness     295
Wind Speed     295
Description    295
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df.dropna().count()

City_ID        295
City           295
Country        295
Lat            295
Lng            295
Max Temp       295
Humidity       295
Cloudiness     295
Wind Speed     295
Description    295
dtype: int64

In [13]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
# ADD "CURRENT DESCRIPTION" AFTER IMPORT
hotel_df = clean_df[["City", "Country", "Max Temp", "Lat", "Lng", "Description"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

            City Country  Max Temp    Lat     Lng       Description Hotel Name
3    Bandarbeyla      SO     76.91   9.49   50.81         clear sky
5    New Norfolk      AU     66.00 -42.78  147.06   overcast clouds
6     Porto Novo      BJ     77.00   6.50    2.60  scattered clouds
9      Busselton      AU     72.00 -33.65  115.33         clear sky
12      Havelock      US     75.20  34.88  -76.90   overcast clouds
..           ...     ...       ...    ...     ...               ...        ...
670         Mana      GF     80.40   5.66  -53.78         clear sky
672     Calabozo      VE     74.26   8.92  -67.43        few clouds
676     Frontera      MX     80.92  26.93 -101.45         clear sky
677          Sur      OM     83.97  22.57   59.53         clear sky
681       Masuda      JP     69.80  34.67  131.85     broken clouds

[295 rows x 7 columns]

In [14]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
  
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        hotel_df.loc[index, "Hotel Name"] = np.nan

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Lat,Lng,Description,Hotel Name
3,Bandarbeyla,SO,76.91,9.49,50.81,clear sky,REER XOOSHLE GROUP
5,New Norfolk,AU,66.00,-42.78,147.06,overcast clouds,The Shingles Riverside Cottages
6,Porto Novo,BJ,77.00,6.50,2.60,scattered clouds,Tour Eiffel Hotel Benin
9,Busselton,AU,72.00,-33.65,115.33,clear sky,Observatory Guest House
12,Havelock,US,75.20,34.88,-76.90,overcast clouds,Sherwood Motel
...,...,...,...,...,...,...,...
670,Mana,GF,80.40,5.66,-53.78,clear sky,LE SAMANA
672,Calabozo,VE,74.26,8.92,-67.43,few clouds,Hotel Giardini
676,Frontera,MX,80.92,26.93,-101.45,clear sky,Fiesta Inn Monclova
677,Sur,OM,83.97,22.57,59.53,clear sky,Sur Plaza Hotel
681,Masuda,JP,69.80,34.67,131.85,broken clouds,Masuda Green Hotel Morris

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))